Librerias para manipulacion de datos

In [32]:
import pandas as pd

CARGA DE ARCHIVOS

In [33]:
ingresos = pd.read_csv("01.ingresos.csv", encoding='latin1')
ingresos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        42 non-null     int64
 1    Trimestre                 42 non-null     int64
 2   Ingresos (miles de pesos)  42 non-null     object
 3    Periodo                   42 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.4+ KB

In [34]:
total_dial_baf = pd.read_csv("02.Totales Dial-Baf.csv", encoding='latin1')
total_dial_baf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               42 non-null     int64
 1    Trimestre        42 non-null     int64
 2   Banda ancha fija  42 non-null     object
 3   Dial up           42 non-null     float64
 4   Total             42 non-null     object
 5   Periodo           42 non-null     object
dtypes: float64(1), int64(2), object(3)
memory usage: 2.1+ KB

In [35]:
dial_baf_provincia = pd.read_csv("03.Dial-BAf.csv", encoding='latin1')
dial_baf_provincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1992 entries, 0 to 1991
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               1992 non-null   int64
 1   Trimestre         1992 non-null   int64
 2   Provincia         1992 non-null   object
 3   Banda ancha fija  1992 non-null   object
 4   Dial up           1988 non-null   float64
 5   Total             1992 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 93.5+ KB

In [36]:
accesos_por_rangos = pd.read_csv("04.AccesosPorRangos.csv", encoding='latin1')
accesos_por_rangos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  1000 non-null   int64
 1   Trimestre            1000 non-null   int64
 2   Provincia            1000 non-null   object
 3   HASTA 512 kbps       1000 non-null   float64
 4   + 512 Kbps - 1 Mbps  1000 non-null   float64
 5   + 1 Mbps - 6 Mbps    1000 non-null   object
 6   + 6 Mbps - 10 Mbps   1000 non-null   float64
 7   + 10 Mbps - 20 Mbps  1000 non-null   float64
 8   + 20 Mbps - 30 Mbps  1000 non-null   float64
 9   + 30 Mbps            1000 non-null   object
 10  OTROS                994 non-null    float64
 11  Total                1000 non-null   object
dtypes: float64(6), int64(2), object(4)
memory usage: 93.9+ KB

In [37]:
totales_accesos_por_rango = pd.read_csv("05.TotalesAccesoPorRango.csv", encoding='latin1')
totales_accesos_por_rango.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      42 non-null     int64
 1   Trimestre                42 non-null     int64
 2   Hasta 512 kbps           42 non-null     float64
 3   Entre 512 Kbps y 1 Mbps  42 non-null     float64
 4   Entre 1 Mbps y 6 Mbps    42 non-null     object
 5   Entre 6 Mbps y 10 Mbps   42 non-null     object
 6   Entre 10 Mbps y 20 Mbps  42 non-null     object
 7   Entre 20 Mbps y 30 Mbps  42 non-null     object
 8   Más de 30 Mbps           42 non-null     object
 9   OTROS                    42 non-null     float64
 10  Total                    42 non-null     object
dtypes: float64(3), int64(2), object(6)
memory usage: 3.7+ KB

In [38]:
penetracion_totales = pd.read_csv("06.PenetracionTotales.csv", encoding='latin1')
penetracion_totales.info()
penetracion_totales.sample(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           42 non-null     int64
 1   Trimestre                     42 non-null     int64
 2   Accesos por cada 100 hogares  42 non-null     object
 3   Accesos por cada 100 hab      42 non-null     object
 4   Periodo                       42 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.8+ KB

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
41,2014,1,"49,55","15,05",Ene-Mar 2014
31,2016,3,"53,73","16,50",Jul-Sept 2016
25,2018,1,"58,82","18,12",Ene-Mar 2018
6,2022,4,"77,21","24,15",Oct-Dic 2022

In [39]:
penetracion_hogares_provincia = pd.read_csv("07.PenetracionHogares.csv", encoding='latin1')
penetracion_hogares_provincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           1000 non-null   int64
 1    Trimestre                    1000 non-null   int64
 2    Provincia                    1000 non-null   object
 3   Accesos por cada 100 hogares  1000 non-null   object
dtypes: int64(2), object(2)
memory usage: 31.4+ KB

In [40]:
penetracion_poblacion_provincia= pd.read_csv("08.PenetracionPoblacion.csv", encoding='latin1')
penetracion_poblacion_provincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       1000 non-null   int64
 1    Trimestre                1000 non-null   int64
 2    Provincia                1000 non-null   object
 3   Accesos por cada 100 hab  1000 non-null   object
dtypes: int64(2), object(2)
memory usage: 31.4+ KB

In [41]:
acceso_por_trecnologia_provincia= pd.read_csv("09.AccesoPorTecnologia.csv", encoding='latin1')
acceso_por_trecnologia_provincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           1007 non-null   object
 1   Trimestre     1007 non-null   object
 2   Provincia     1007 non-null   object
 3   ADSL          1007 non-null   object
 4   Cablemodem    1007 non-null   object
 5   Fibra óptica  1007 non-null   object
 6   Wireless      1007 non-null   float64
 7   Otros         1007 non-null   float64
 8   Total         1007 non-null   object
dtypes: float64(2), object(7)
memory usage: 70.9+ KB

In [42]:
totales_acceso_por_tecnologia_nac= pd.read_csv("10.TotalesAccesosPorTecnologia.csv", encoding='latin1')
totales_acceso_por_tecnologia_nac.info()
totales_acceso_por_tecnologia_nac.sample(8)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Año             42 non-null     int64
 1    Trimestre      42 non-null     int64
 2    ADSL           42 non-null     object
 3    Cablemodem     42 non-null     object
 4    Fibra óptica   42 non-null     object
 5    Wireless       42 non-null     float64
 6    Otros          42 non-null     float64
 7    Total          42 non-null     object
 8    Periodo        42 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 3.1+ KB

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
9,2022,1,1.533.240,6.073.426,2.219.533,545.814,251.996,10.624.009,Ene-Mar 2022
29,2017,1,3.708.898,3.276.251,180.146,84.813,55.746,7.305.854,Ene-Mar 2017
33,2016,1,3.792.493,2.806.359,164.371,85.370,58.763,6.907.356,Ene-Mar 2016
15,2020,3,2.263.889,5.259.351,1.170.879,413.259,248.821,9.356.199,Jul-Sept 2020
31,2016,3,3.776.442,3.124.855,169.898,81.455,54.300,7.206.950,Jul-Sept 2016
4,2023,2,1.006.509,5.997.149,3.463.988,581.823,202.428,11.251.897,Abr-Jun 2023
38,2014,4,3.764.038,2.536.219,149.682,76.984,71.573,6.598.496,Oct-Dic 2014
36,2015,2,3.767.821,2.756.294,150.839,82.077,59.157,6.816.188,Abr-Jun 2015

In [43]:
totales_vmd= pd.read_csv("11.TotalesVMD.csv", encoding='latin1')
totales_vmd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     42 non-null     int64
 1   Trimestre               42 non-null     int64
 2   Mbps (Media de bajada)  42 non-null     object
 3   Trimestre.1             42 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.4+ KB

In [44]:
velocidad_por_tecnologia= pd.read_csv("12.Velocidad%porProvincia.csv", encoding='latin1')
velocidad_por_tecnologia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     1008 non-null   int64
 1   Trimestre               1008 non-null   int64
 2   Provincia               1008 non-null   object
 3   Mbps (Media de bajada)  1008 non-null   object
dtypes: int64(2), object(2)
memory usage: 31.6+ KB

In [45]:
acceso_tecnologia_localidad= pd.read_csv("13.AccesosTecnologiaLocalidad.csv", encoding='latin1')
acceso_tecnologia_localidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7753 entries, 0 to 7752
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Provincia   7753 non-null   object
 1   Partido     7753 non-null   object
 2   Localidad   7753 non-null   object
 3   Tecnologia  7753 non-null   object
 4   Link Indec  7753 non-null   object
 5   Accesos     7747 non-null   object
dtypes: object(6)
memory usage: 363.6+ KB

In [46]:
velocidad_sin_rangos= pd.read_csv("14.VelocidadSinRangos.csv", encoding='latin1')
velocidad_sin_rangos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18884 entries, 0 to 18883
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Año          18884 non-null  int64
 1   Trimestre    18884 non-null  int64
 2   Provincia    18884 non-null  object
 3    Velocidad   18874 non-null  object
 4   Accesos      18884 non-null  object
dtypes: int64(2), object(3)
memory usage: 737.8+ KB

In [47]:
acc_vel_loc_sin_rangos= pd.read_csv("15.AccVelLocSinrangos.csv", encoding='latin1')
acc_vel_loc_sin_rangos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18864 entries, 0 to 18863
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Partido           18864 non-null  object
 1   Localidad         18864 non-null  object
 2   link Indec        18863 non-null  object
 3   Velocidad (Mbps)  18864 non-null  object
 4   Provincia         18864 non-null  object
 5   Accesos           18857 non-null  float64
dtypes: float64(1), object(5)
memory usage: 884.4+ KB

revision de datos de df

In [48]:
penetracion_hogares_provincia.info()
penetracion_poblacion_provincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           1000 non-null   int64
 1    Trimestre                    1000 non-null   int64
 2    Provincia                    1000 non-null   object
 3   Accesos por cada 100 hogares  1000 non-null   object
dtypes: int64(2), object(2)
memory usage: 31.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       1000 non-null   int64
 1    Trimestre                1000 non-null   int64
 2    Provincia                1000 non-null   object
 3   Accesos por cada 100 hab  1000 non-null   object
dtypes: int64(2), object(2)
memory usage: 31.4+ KB

In [49]:
penetracion_totales.info()
acceso_por_trecnologia_provincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           42 non-null     int64
 1   Trimestre                     42 non-null     int64
 2   Accesos por cada 100 hogares  42 non-null     object
 3   Accesos por cada 100 hab      42 non-null     object
 4   Periodo                       42 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           1007 non-null   object
 1   Trimestre     1007 non-null   object
 2   Provincia     1007 non-null   object
 3   ADSL          1007 non-null   object
 4   Cablemodem    1007 non-null   object
 5   Fibra óptica  1007 non-null   object
 6   Wireless      1007 non-null   float64
 7   Otros         1007 non-null   float64
 8   Total         1007 non-null   object
dtypes: float64(2), object(7)
memory usage: 70.9+ KB

In [50]:
acc_vel_loc_sin_rangos.info()
acceso_tecnologia_localidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18864 entries, 0 to 18863
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Partido           18864 non-null  object
 1   Localidad         18864 non-null  object
 2   link Indec        18863 non-null  object
 3   Velocidad (Mbps)  18864 non-null  object
 4   Provincia         18864 non-null  object
 5   Accesos           18857 non-null  float64
dtypes: float64(1), object(5)
memory usage: 884.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7753 entries, 0 to 7752
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Provincia   7753 non-null   object
 1   Partido     7753 non-null   object
 2   Localidad   7753 non-null   object
 3   Tecnologia  7753 non-null   object
 4   Link Indec  7753 non-null   object
 5   Accesos     7747 non-null   object
dtypes: object(6)
memory usage: 363.6+ KB

In [51]:
velocidad_por_tecnologia.info()
velocidad_sin_rangos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     1008 non-null   int64
 1   Trimestre               1008 non-null   int64
 2   Provincia               1008 non-null   object
 3   Mbps (Media de bajada)  1008 non-null   object
dtypes: int64(2), object(2)
memory usage: 31.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18884 entries, 0 to 18883
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Año          18884 non-null  int64
 1   Trimestre    18884 non-null  int64
 2   Provincia    18884 non-null  object
 3    Velocidad   18874 non-null  object
 4   Accesos      18884 non-null  object
dtypes: int64(2), object(3)
memory usage: 737.8+ KB

In [52]:
totales_accesos_por_rango.info()
total_dial_baf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      42 non-null     int64
 1   Trimestre                42 non-null     int64
 2   Hasta 512 kbps           42 non-null     float64
 3   Entre 512 Kbps y 1 Mbps  42 non-null     float64
 4   Entre 1 Mbps y 6 Mbps    42 non-null     object
 5   Entre 6 Mbps y 10 Mbps   42 non-null     object
 6   Entre 10 Mbps y 20 Mbps  42 non-null     object
 7   Entre 20 Mbps y 30 Mbps  42 non-null     object
 8   Más de 30 Mbps           42 non-null     object
 9   OTROS                    42 non-null     float64
 10  Total                    42 non-null     object
dtypes: float64(3), int64(2), object(6)
memory usage: 3.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               42 non-null     int64
 1    Trimestre        42 non-null     int64
 2   Banda ancha fija  42 non-null     object
 3   Dial up           42 non-null     float64
 4   Total             42 non-null     object
 5   Periodo           42 non-null     object
dtypes: float64(1), int64(2), object(3)
memory usage: 2.1+ KB

In [53]:
totales_acceso_por_tecnologia_nac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Año             42 non-null     int64
 1    Trimestre      42 non-null     int64
 2    ADSL           42 non-null     object
 3    Cablemodem     42 non-null     object
 4    Fibra óptica   42 non-null     object
 5    Wireless       42 non-null     float64
 6    Otros          42 non-null     float64
 7    Total          42 non-null     object
 8    Periodo        42 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 3.1+ KB

In [54]:
totales_vmd.info()
ingresos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     42 non-null     int64
 1   Trimestre               42 non-null     int64
 2   Mbps (Media de bajada)  42 non-null     object
 3   Trimestre.1             42 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        42 non-null     int64
 1    Trimestre                 42 non-null     int64
 2   Ingresos (miles de pesos)  42 non-null     object
 3    Periodo                   42 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.4+ KB

combinamos los dos df

In [55]:
#correjimos los nombres de las columnas
penetracion_hogares_provincia.columns = penetracion_hogares_provincia.columns.str.strip()
penetracion_poblacion_provincia.columns = penetracion_poblacion_provincia.columns.str.strip()

df_combinados_penetracion = pd.merge(penetracion_hogares_provincia, penetracion_poblacion_provincia, on=['Año', 'Trimestre', 'Provincia'])
df_combinados_penetracion.info()
df_combinados_penetracion.sample(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           999 non-null    int64
 1   Trimestre                     999 non-null    int64
 2   Provincia                     999 non-null    object
 3   Accesos por cada 100 hogares  999 non-null    object
 4   Accesos por cada 100 hab      999 non-null    object
dtypes: int64(2), object(3)
memory usage: 39.2+ KB

,Año,Trimestre,Provincia,Accesos por cada 100 hogares,Accesos por cada 100 hab
45,2024,1,Santiago Del Estero,"49,41","12,26"
612,2018,1,Mendoza,"37,07","10,35"
241,2021,4,Capital Federal,"111,27","45,85"
349,2020,4,Misiones,"42,64","11,61"

Revisamos el nuevo df combinado

In [56]:
df_combinados_penetracion.sample(5)

,Año,Trimestre,Provincia,Accesos por cada 100 hogares,Accesos por cada 100 hab
251,2021,4,La Rioja,"77,92","20,74"
203,2022,2,La Rioja,"80,14","21,33"
404,2020,2,Santa Fe,"70,00","22,01"
400,2020,2,Salta,"51,58","12,49"
240,2021,4,Buenos Aires,"75,66","25,36"

In [57]:
#revicion de df 
acceso_por_trecnologia_provincia.info()
acceso_por_trecnologia_provincia.sample(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           1007 non-null   object
 1   Trimestre     1007 non-null   object
 2   Provincia     1007 non-null   object
 3   ADSL          1007 non-null   object
 4   Cablemodem    1007 non-null   object
 5   Fibra óptica  1007 non-null   object
 6   Wireless      1007 non-null   float64
 7   Otros         1007 non-null   float64
 8   Total         1007 non-null   object
dtypes: float64(2), object(7)
memory usage: 70.9+ KB

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
391,2020,2,Formosa,21.805,9.353,1.882,14.723,169.000,47.932
618,2018,1,Santa Cruz,18.615,4.474,1.799,6.734,2.783,34.405
711,2017,1,Salta,79.837,26.845,114,158.000,679.000,107.633
778,2016,2,La Rioja,16.691,0,15,2.000,28.000,16.736
911,2014,4,Buenos Aires,1.575.978,1.070.135,120.528,17.728,32.038,2.816.407
817,2015,4,Catamarca,26.180,242,15,1.000,34.000,26.472
401,2020,2,San Luis,8.401,8.357,6,60.935,36.253,113.952
804,2016,1,Misiones,59.538,33.330,70,5.000,15.000,92.958
860,2015,3,Santiago Del Estero,33.886,4.365,19,1.097,30.000,39.397
286,2021,3,Tucumán,104.489,53.868,70.964,2.408,743.000,232.472

In [64]:
# Eliminar asterisco (*) y espacios extra
acceso_por_trecnologia_provincia['Trimestre'] = acceso_por_trecnologia_provincia['Trimestre'].str.replace('*', '', regex=False)

# Convertir la columna a entero
acceso_por_trecnologia_provincia['Trimestre'] = acceso_por_trecnologia_provincia['Trimestre'].astype(int)

df_combinados_penetracion['Provincia'] = df_combinados_penetracion['Provincia'].str.strip()
acceso_por_trecnologia_provincia['Provincia'] = acceso_por_trecnologia_provincia['Provincia'].str.strip()
acceso_por_trecnologia_provincia['Trimestre'] = acceso_por_trecnologia_provincia['Trimestre'].astype(int)
df_combinados_penetracion['Trimestre'] = df_combinados_penetracion['Trimestre'].astype(int)

# Si no es string, conviértelo a string
if acceso_por_trecnologia_provincia['Año'].dtype != 'object':
    acceso_por_trecnologia_provincia['Año'] = acceso_por_trecnologia_provincia['Año'].astype(str)

# Extrae solo los caracteres numéricos
acceso_por_trecnologia_provincia['Año'] = acceso_por_trecnologia_provincia['Año'].str.extract('(\d+)', expand=False)

# Convierte la columna a entero
acceso_por_trecnologia_provincia['Año'] = acceso_por_trecnologia_provincia['Año'].astype(int)

df_combinados= pd.merge(df_combinados_penetracion,acceso_por_trecnologia_provincia, on=['Año', 'Trimestre', 'Provincia'], how= 'outer',indicator=True)
df_combinados.info()
df_combinados.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           1008 non-null   int64
 1   Trimestre                     1008 non-null   int64
 2   Provincia                     1008 non-null   object
 3   Accesos por cada 100 hogares  999 non-null    object
 4   Accesos por cada 100 hab      999 non-null    object
 5   ADSL                          1007 non-null   object
 6   Cablemodem                    1007 non-null   object
 7   Fibra óptica                  1007 non-null   object
 8   Wireless                      1007 non-null   float64
 9   Otros                         1007 non-null   float64
 10  Total                         1007 non-null   object
 11  _merge                        1008 non-null   category
dtypes: category(1), float64(2), int64(2), object(7)
memory usage: 87.9+ KB

,Año,Trimestre,Provincia,Accesos por cada 100 hogares,Accesos por cada 100 hab,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,_merge
0,2014,1,Buenos Aires,"54,57","16,69",1.567.685,1.000.879,120.960,16.528,33.824,2.739.876,both
1,2014,1,Capital Federal,"112,25","42,66",445.569,820.161,17.767,1.866,14.555,1.299.918,both
2,2014,1,Catamarca,"24,25","6,18",24.126,46,17,0.000,43.000,24.232,both
3,2014,1,Chaco,"20,72","5,55",52.971,9.497,30,0.000,58.000,62.556,both
4,2014,1,Chubut,"41,24","12,70",51.066,539,866,10.776,6.974,70.221,both

In [66]:
# Convertir los nombres de las columnas a minúsculas
df_combinados.columns = df_combinados.columns.str.lower()

# Verificar los nuevos nombres de las columnas
print(df_combinados.columns)

Index(['año', 'trimestre', 'provincia', 'accesos por cada 100 hogares',
       'accesos por cada 100 hab', 'adsl', 'cablemodem', 'fibra óptica',
       'wireless', 'otros', 'total', '_merge'],
      dtype='object')

limpieza a las columnas clave para garantizar que los valores coincidan correctamente

In [67]:
print("Valores únicos en 'provincia' de df_combinados:")
print(df_combinados['provincia'].unique())
print("\nValores únicos en 'provincia' de dial_baf_provincia:")
print(dial_baf_provincia['Provincia'].unique())

print("\nValores únicos en 'trimestre' de df_combinados:")
print(df_combinados['trimestre'].unique())
print("\nValores únicos en 'trimestre' de dial_baf_provincia:")
print(dial_baf_provincia['Trimestre'].unique())

print("\nValores únicos en 'año' de df_combinados:")
print(df_combinados['año'].unique())
print("\nValores únicos en 'año' de dial_baf_provincia:")
print(dial_baf_provincia['Año'].unique())

Valores únicos en 'provincia' de df_combinados:
['Buenos Aires' 'Capital Federal' 'Catamarca' 'Chaco' 'Chubut'
 'Corrientes' 'Córdoba' 'Entre Ríos' 'Formosa' 'Jujuy' 'La Pampa'
 'La Rioja' 'Mendoza' 'Misiones' 'Neuquén' 'Río Negro' 'Salta' 'San Juan'
 'San Luis' 'Santa Cruz' 'Santa Fe' 'Santiago Del Estero'
 'Tierra Del Fuego' 'Tucumán']

Valores únicos en 'provincia' de dial_baf_provincia:
['Buenos Aires' 'Capital Federal' 'Catamarca' 'Chaco' 'Chubut' 'Córdoba'
 'Corrientes' 'Entre Ríos' 'Formosa' 'Jujuy' 'La Pampa' 'La Rioja'
 'Mendoza' 'Misiones' 'Neuquén' 'Río Negro' 'Salta' 'San Juan' 'San Luis'
 'Santa Cruz' 'Santa Fe' 'Santiago Del Estero' 'Tierra Del Fuego'
 'Tucumán' ' Buenos Aires ' ' Capital Federal ' ' Catamarca ' ' Chaco '
 ' Chubut ' ' Córdoba ' ' Corrientes ' ' Entre Ríos ' ' Formosa '
 ' Jujuy ' ' La Pampa ' ' La Rioja ' ' Mendoza ' ' Misiones ' ' Neuquén '
 ' Río Negro ' ' Salta ' ' San Juan ' ' San Luis ' ' Santa Cruz '
 ' Santa Fe ' ' Santiago Del Estero ' ' Tierra Del Fuego ' ' Tucumán ']

Valores únicos en 'trimestre' de df_combinados:
[1 2 3 4]

Valores únicos en 'trimestre' de dial_baf_provincia:
[2 1 4 3]

Valores únicos en 'año' de df_combinados:
[2014 2015 2016 2017 2018 2019 2020 2021 2022 2023 2024]

Valores únicos en 'año' de dial_baf_provincia:
[2024 2023 2022 2021 2020 2019 2018 2017 2016 2015 2014]

In [68]:
# Normalizar nombres de columnas en ambos DataFrames
for df in [df_combinados, dial_baf_provincia]:
    df.columns = df.columns.str.strip().str.lower()

# Verificar si 'provincia' ahora está disponible
print(df_combinados.columns)
print(dial_baf_provincia.columns)

dial_baf_provincia.columns = dial_baf_provincia.columns.str.strip().str.lower()

# Convertir la columna 'trimestre' a tipo entero en ambos DataFrames
dial_baf_provincia['trimestre'] = pd.to_numeric(dial_baf_provincia['trimestre'], errors='coerce')
df_combinados['trimestre'] = pd.to_numeric(df_combinados['trimestre'], errors='coerce')

df_combinados2 = pd.merge(dial_baf_provincia,df_combinados,on=['año', 'trimestre', 'provincia'], how='outer')
df_combinados2.sample(6)

Index(['año', 'trimestre', 'provincia', 'accesos por cada 100 hogares',
       'accesos por cada 100 hab', 'adsl', 'cablemodem', 'fibra óptica',
       'wireless', 'otros', 'total', '_merge'],
      dtype='object')
Index(['año', 'trimestre', 'provincia', 'banda ancha fija', 'dial up',
       'total'],
      dtype='object')

,año,trimestre,provincia,banda ancha fija,dial up,total_x,accesos por cada 100 hogares,accesos por cada 100 hab,adsl,cablemodem,fibra óptica,wireless,otros,total_y,_merge
1353,2021,1,Chubut,131.515,825.00,132.340,"68,99","21,15",45.501,40.960,3.444,23.723,18.712,132.340,both
1508,2021,4,La Pampa,106.834,173.00,107.007,"89,57","29,51",8.175,58.000,20.192,19.286,1.354,107.007,both
782,2018,1,Entre Ríos,197.346,48.00,197.394,"48,68","14,56",106.998,75.751,3.789,10.776,80.000,197.394,both
134,2014,3,Santa Cruz,25.664,446.00,26.110,"28,23","8,34",17.862,492,385,4.273,3.098,26.110,both
585,2017,1,Chubut,62.166,1.73,63.896,"35,66","10,93",43.994,999,916,13.194,4.793,63.896,both
347,2015,4,Corrientes,85.409,26.00,85.435,"30,34","7,95",55.681,28.178,177,1.354,45.000,85.435,both

In [69]:
df_combinados2.drop(columns=['_merge'], inplace=True)

In [70]:
for df in [df_combinados2, accesos_por_rangos]:
    df.columns = df.columns.str.strip().str.lower()
#las columnas estén en el mismo formato
df_combinados2['trimestre'] = df_combinados2['trimestre'].astype(str)
accesos_por_rangos['trimestre'] = accesos_por_rangos['trimestre'].astype(str)

df_combinados3 = pd.merge(df_combinados2, accesos_por_rangos, on=['año', 'trimestre', 'provincia'], how='inner')

df_combinados3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1856 entries, 0 to 1855
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   año                           1856 non-null   int64
 1   trimestre                     1856 non-null   object
 2   provincia                     1856 non-null   object
 3   banda ancha fija              1856 non-null   object
 4   dial up                       1852 non-null   float64
 5   total_x                       1856 non-null   object
 6   accesos por cada 100 hogares  1854 non-null   object
 7   accesos por cada 100 hab      1854 non-null   object
 8   adsl                          1854 non-null   object
 9   cablemodem                    1854 non-null   object
 10  fibra óptica                  1854 non-null   object
 11  wireless                      1854 non-null   float64
 12  otros_x                       1854 non-null   float64
 13  total_y                       1854 non-null   object
 14  hasta 512 kbps                1856 non-null   float64
 15  + 512 kbps - 1 mbps           1856 non-null   float64
 16  + 1 mbps - 6 mbps             1856 non-null   object
 17  + 6 mbps - 10 mbps            1856 non-null   float64
 18  + 10 mbps - 20 mbps           1856 non-null   float64
 19  + 20 mbps - 30 mbps           1856 non-null   float64
 20  + 30 mbps                     1856 non-null   object
 21  otros_y                       1844 non-null   float64
 22  total                         1856 non-null   object
dtypes: float64(9), int64(1), object(13)
memory usage: 333.6+ KB

union df nacionales

In [71]:
total_dial_baf.info()
totales_vmd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               42 non-null     int64
 1    Trimestre        42 non-null     int64
 2   Banda ancha fija  42 non-null     object
 3   Dial up           42 non-null     float64
 4   Total             42 non-null     object
 5   Periodo           42 non-null     object
dtypes: float64(1), int64(2), object(3)
memory usage: 2.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     42 non-null     int64
 1   Trimestre               42 non-null     int64
 2   Mbps (Media de bajada)  42 non-null     object
 3   Trimestre.1             42 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.4+ KB

Vemos que "Trimestre" estan distintos

In [72]:
total_dial_baf.columns = total_dial_baf.columns.str.strip()
totales_vmd.columns = totales_vmd.columns.str.strip()

In [73]:
df_totales= pd.merge(penetracion_totales, totales_vmd, on=['Año', 'Trimestre'])
df_totales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           42 non-null     int64
 1   Trimestre                     42 non-null     int64
 2   Accesos por cada 100 hogares  42 non-null     object
 3   Accesos por cada 100 hab      42 non-null     object
 4   Periodo                       42 non-null     object
 5   Mbps (Media de bajada)        42 non-null     object
 6   Trimestre.1                   42 non-null     object
dtypes: int64(2), object(5)
memory usage: 2.4+ KB

In [74]:
df_nac=pd.merge(df_totales,total_dial_baf, on=['Año', 'Trimestre'])
df_nac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           42 non-null     int64
 1   Trimestre                     42 non-null     int64
 2   Accesos por cada 100 hogares  42 non-null     object
 3   Accesos por cada 100 hab      42 non-null     object
 4   Periodo_x                     42 non-null     object
 5   Mbps (Media de bajada)        42 non-null     object
 6   Trimestre.1                   42 non-null     object
 7   Banda ancha fija              42 non-null     object
 8   Dial up                       42 non-null     float64
 9   Total                         42 non-null     object
 10  Periodo_y                     42 non-null     object
dtypes: float64(1), int64(2), object(8)
memory usage: 3.7+ KB

In [75]:
df_nac2 = pd.merge(df_nac, totales_accesos_por_rango, on=['Año', 'Trimestre'])
df_nac2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           42 non-null     int64
 1   Trimestre                     42 non-null     int64
 2   Accesos por cada 100 hogares  42 non-null     object
 3   Accesos por cada 100 hab      42 non-null     object
 4   Periodo_x                     42 non-null     object
 5   Mbps (Media de bajada)        42 non-null     object
 6   Trimestre.1                   42 non-null     object
 7   Banda ancha fija              42 non-null     object
 8   Dial up                       42 non-null     float64
 9   Total_x                       42 non-null     object
 10  Periodo_y                     42 non-null     object
 11  Hasta 512 kbps                42 non-null     float64
 12  Entre 512 Kbps y 1 Mbps       42 non-null     float64
 13  Entre 1 Mbps y 6 Mbps         42 non-null     object
 14  Entre 6 Mbps y 10 Mbps        42 non-null     object
 15  Entre 10 Mbps y 20 Mbps       42 non-null     object
 16  Entre 20 Mbps y 30 Mbps       42 non-null     object
 17  Más de 30 Mbps                42 non-null     object
 18  OTROS                         42 non-null     float64
 19  Total_y                       42 non-null     object
dtypes: float64(4), int64(2), object(14)
memory usage: 6.7+ KB

In [76]:
ingresos.columns = ingresos.columns.str.strip().str.lower()
df_nac2.columns = df_nac2.columns.str.strip().str.lower()
ingresos.rename(columns={"periodo": "periodo_ingresos"}, inplace=True)

df_nac3 = pd.merge(df_nac2, ingresos, on=['año', 'trimestre'])
df_nac3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   año                           41 non-null     int64
 1   trimestre                     41 non-null     int64
 2   accesos por cada 100 hogares  41 non-null     object
 3   accesos por cada 100 hab      41 non-null     object
 4   periodo_x                     41 non-null     object
 5   mbps (media de bajada)        41 non-null     object
 6   trimestre.1                   41 non-null     object
 7   banda ancha fija              41 non-null     object
 8   dial up                       41 non-null     float64
 9   total_x                       41 non-null     object
 10  periodo_y                     41 non-null     object
 11  hasta 512 kbps                41 non-null     float64
 12  entre 512 kbps y 1 mbps       41 non-null     float64
 13  entre 1 mbps y 6 mbps         41 non-null     object
 14  entre 6 mbps y 10 mbps        41 non-null     object
 15  entre 10 mbps y 20 mbps       41 non-null     object
 16  entre 20 mbps y 30 mbps       41 non-null     object
 17  más de 30 mbps                41 non-null     object
 18  otros                         41 non-null     float64
 19  total_y                       41 non-null     object
 20  ingresos (miles de pesos)     41 non-null     object
 21  periodo_ingresos              41 non-null     object
dtypes: float64(4), int64(2), object(16)
memory usage: 7.2+ KB

In [77]:
totales_acceso_por_tecnologia_nac.columns = totales_acceso_por_tecnologia_nac.columns.str.strip().str.lower()
df_nac4 = pd.merge(df_nac3, totales_acceso_por_tecnologia_nac, on=['año', 'trimestre'])

revision del df final en nacional

In [78]:
df_nac4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 29 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   año                           41 non-null     int64
 1   trimestre                     41 non-null     int64
 2   accesos por cada 100 hogares  41 non-null     object
 3   accesos por cada 100 hab      41 non-null     object
 4   periodo_x                     41 non-null     object
 5   mbps (media de bajada)        41 non-null     object
 6   trimestre.1                   41 non-null     object
 7   banda ancha fija              41 non-null     object
 8   dial up                       41 non-null     float64
 9   total_x                       41 non-null     object
 10  periodo_y                     41 non-null     object
 11  hasta 512 kbps                41 non-null     float64
 12  entre 512 kbps y 1 mbps       41 non-null     float64
 13  entre 1 mbps y 6 mbps         41 non-null     object
 14  entre 6 mbps y 10 mbps        41 non-null     object
 15  entre 10 mbps y 20 mbps       41 non-null     object
 16  entre 20 mbps y 30 mbps       41 non-null     object
 17  más de 30 mbps                41 non-null     object
 18  otros_x                       41 non-null     float64
 19  total_y                       41 non-null     object
 20  ingresos (miles de pesos)     41 non-null     object
 21  periodo_ingresos              41 non-null     object
 22  adsl                          41 non-null     object
 23  cablemodem                    41 non-null     object
 24  fibra óptica                  41 non-null     object
 25  wireless                      41 non-null     float64
 26  otros_y                       41 non-null     float64
 27  total                         41 non-null     object
 28  periodo                       41 non-null     object
dtypes: float64(6), int64(2), object(21)
memory usage: 9.4+ KB

Ahora trabajamos con los datos de las localidades y partidos

In [79]:
#33
for df in [acceso_tecnologia_localidad, acc_vel_loc_sin_rangos]:
    df['Provincia'] = df['Provincia'].astype(str)
    df['Partido'] = df['Partido'].astype(str)
    df['Localidad'] = df['Localidad'].astype(str)
#34
for df in [acceso_tecnologia_localidad, acc_vel_loc_sin_rangos]:
    df['Provincia'] = df['Provincia'].str.strip().str.lower()
    df['Partido'] = df['Partido'].str.strip().str.lower()
    df['Localidad'] = df['Localidad'].str.strip().str.lower()

# Merge usando columnas comunes
df_partidos = pd.merge(acceso_tecnologia_localidad,acc_vel_loc_sin_rangos, on=['Provincia', 'Partido', 'Localidad'], how='left')

In [80]:
# Revisión del resultado
print(df_partidos.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7753 entries, 0 to 7752
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Provincia         7753 non-null   object
 1   Partido           7753 non-null   object
 2   Localidad         7753 non-null   object
 3   Tecnologia        7753 non-null   object
 4   Link Indec        7753 non-null   object
 5   Accesos_x         7747 non-null   object
 6   link Indec        0 non-null      object
 7   Velocidad (Mbps)  0 non-null      object
 8   Accesos_y         0 non-null      float64
dtypes: float64(1), object(8)
memory usage: 545.3+ KB
None

In [81]:
# Revisión del df obtenido 
pd.set_option('display.max_columns', None)
df_partidos.sample(10)

,Provincia,Partido,Localidad,Tecnologia,Link Indec,Accesos_x,link Indec,Velocidad (Mbps),Accesos_y
351,buenos aires,brandsen,coronel brandsen,ADSL,6119050,1.250,NaN,NaN,NaN
2071,buenos aires,tigre,don torcuato este,CABLEMODEM,6805010,12.320,NaN,NaN,NaN
7413,santiago del estero,figueroa,villa figueroa,WIRELESS,86070100,3,NaN,NaN,NaN
3746,corrientes,goya,goya,FIBRA OPTICA,18070020,6.939,NaN,NaN,NaN
2902,cordoba,colón,unquillo,ADSL,14021280,1.883,NaN,NaN,NaN
3477,cordoba,san justo,la francia,ADSL,14140230,158,NaN,NaN,NaN
2779,chubut,sarmiento,sarmiento,FIBRA OPTICA,26091020,1.243,NaN,NaN,NaN
4339,jujuy,ledesma,chalicán,WIRELESS,38035050,78,NaN,NaN,NaN
2842,cordoba,calamuchita,villa san miguel,WIRELESS,14007170,5,NaN,NaN,NaN
3434,cordoba,san justo,altos de chipión,Otros,14140020,1,NaN,NaN,NaN

In [82]:
# Eliminar la columna 'link Indec' del DataFrame tiene muchos NaN
df_partidos = df_partidos.drop('link Indec', axis=1)

In [83]:
df_partidos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7753 entries, 0 to 7752
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Provincia         7753 non-null   object
 1   Partido           7753 non-null   object
 2   Localidad         7753 non-null   object
 3   Tecnologia        7753 non-null   object
 4   Link Indec        7753 non-null   object
 5   Accesos_x         7747 non-null   object
 6   Velocidad (Mbps)  0 non-null      object
 7   Accesos_y         0 non-null      float64
dtypes: float64(1), object(7)
memory usage: 484.7+ KB

TRANSFORMACION DEL PRIMER DF

In [84]:
df_combinados3.sample(5)

,año,trimestre,provincia,banda ancha fija,dial up,total_x,accesos por cada 100 hogares,accesos por cada 100 hab,adsl,cablemodem,fibra óptica,wireless,otros_x,total_y,hasta 512 kbps,+ 512 kbps - 1 mbps,+ 1 mbps - 6 mbps,+ 6 mbps - 10 mbps,+ 10 mbps - 20 mbps,+ 20 mbps - 30 mbps,+ 30 mbps,otros_y,total
8,2014,1,Chubut,68.205,2.016,70.221,"41,24","12,70",51.066,539,866,10.776,6.974,70.221,7.452,10.000,61.329,0.000,0.000,0.000,0,0.000,68.791
538,2016,4,Misiones,97.390,0.000,97.390,"29,72","8,05",57.983,39.294,100,5.000,8.000,97.390,1.010,4.783,47.454,23.433,18.371,2.215,126,0.000,97.392
1809,2024,1,Mendoza,301.867,730.000,302.597,"52,59","14,67",17.674,70.932,185.460,27.606,925.000,302.597,104.000,2.945,35.893,20.900,30.049,7.623,199.517,5.566,302.597
1289,2020,4,Chubut,129.749,825.000,130.574,"68,35","20,95",45.703,39.756,3.040,23.363,18.712,130.574,106.000,109.000,88.157,21.824,12.046,2.818,1.112,4.402,130.574
534,2016,4,La Rioja,16.298,18.000,16.316,"16,46","4,35",16.270,0,16,2.000,28.000,16.316,9.000,1.646,9.635,3.334,1.675,13.000,3,0.000,16.315

In [85]:
df_combinados3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1856 entries, 0 to 1855
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   año                           1856 non-null   int64
 1   trimestre                     1856 non-null   object
 2   provincia                     1856 non-null   object
 3   banda ancha fija              1856 non-null   object
 4   dial up                       1852 non-null   float64
 5   total_x                       1856 non-null   object
 6   accesos por cada 100 hogares  1854 non-null   object
 7   accesos por cada 100 hab      1854 non-null   object
 8   adsl                          1854 non-null   object
 9   cablemodem                    1854 non-null   object
 10  fibra óptica                  1854 non-null   object
 11  wireless                      1854 non-null   float64
 12  otros_x                       1854 non-null   float64
 13  total_y                       1854 non-null   object
 14  hasta 512 kbps                1856 non-null   float64
 15  + 512 kbps - 1 mbps           1856 non-null   float64
 16  + 1 mbps - 6 mbps             1856 non-null   object
 17  + 6 mbps - 10 mbps            1856 non-null   float64
 18  + 10 mbps - 20 mbps           1856 non-null   float64
 19  + 20 mbps - 30 mbps           1856 non-null   float64
 20  + 30 mbps                     1856 non-null   object
 21  otros_y                       1844 non-null   float64
 22  total                         1856 non-null   object
dtypes: float64(9), int64(1), object(13)
memory usage: 333.6+ KB

In [86]:
# Comparar los valores de las columnas y contar los iguales
cantidad_iguales1 = (df_combinados3['total'] == df_combinados3['total_x']).sum()
cantidad_iguales2 = (df_combinados3['total_x'] == df_combinados3['total_y']).sum()
cantidad_iguales3 = (df_combinados3['total'] == df_combinados3['total_y']).sum()

# Imprimir la cantidad de valores iguales
print(cantidad_iguales1)
print(cantidad_iguales2)
print(cantidad_iguales3)

826
0
0

In [87]:
df_combinados3 = df_combinados3.drop('total_y', axis=1)

In [88]:
df_combinados3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1856 entries, 0 to 1855
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   año                           1856 non-null   int64
 1   trimestre                     1856 non-null   object
 2   provincia                     1856 non-null   object
 3   banda ancha fija              1856 non-null   object
 4   dial up                       1852 non-null   float64
 5   total_x                       1856 non-null   object
 6   accesos por cada 100 hogares  1854 non-null   object
 7   accesos por cada 100 hab      1854 non-null   object
 8   adsl                          1854 non-null   object
 9   cablemodem                    1854 non-null   object
 10  fibra óptica                  1854 non-null   object
 11  wireless                      1854 non-null   float64
 12  otros_x                       1854 non-null   float64
 13  hasta 512 kbps                1856 non-null   float64
 14  + 512 kbps - 1 mbps           1856 non-null   float64
 15  + 1 mbps - 6 mbps             1856 non-null   object
 16  + 6 mbps - 10 mbps            1856 non-null   float64
 17  + 10 mbps - 20 mbps           1856 non-null   float64
 18  + 20 mbps - 30 mbps           1856 non-null   float64
 19  + 30 mbps                     1856 non-null   object
 20  otros_y                       1844 non-null   float64
 21  total                         1856 non-null   object
dtypes: float64(9), int64(1), object(12)
memory usage: 319.1+ KB

In [89]:
# Renombramos las columnas necesarias
df_combinados3 = df_combinados3.rename(columns={'total': 'total suma Mbps'})
df_combinados3 = df_combinados3.rename(columns={'total_x': 'total_conexion'})
df_combinados3 = df_combinados3.rename(columns={'otros_x': 'otros Mbps'})
df_combinados3 = df_combinados3.rename(columns={'otros_y': 'otros'})
df_combinados3 = df_combinados3.rename(columns={'hasta 512 kbps': 'hasta 512 kbps'})

In [90]:
df_combinados3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1856 entries, 0 to 1855
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   año                           1856 non-null   int64
 1   trimestre                     1856 non-null   object
 2   provincia                     1856 non-null   object
 3   banda ancha fija              1856 non-null   object
 4   dial up                       1852 non-null   float64
 5   total_conexion                1856 non-null   object
 6   accesos por cada 100 hogares  1854 non-null   object
 7   accesos por cada 100 hab      1854 non-null   object
 8   adsl                          1854 non-null   object
 9   cablemodem                    1854 non-null   object
 10  fibra óptica                  1854 non-null   object
 11  wireless                      1854 non-null   float64
 12  otros Mbps                    1854 non-null   float64
 13  hasta 512 kbps                1856 non-null   float64
 14  + 512 kbps - 1 mbps           1856 non-null   float64
 15  + 1 mbps - 6 mbps             1856 non-null   object
 16  + 6 mbps - 10 mbps            1856 non-null   float64
 17  + 10 mbps - 20 mbps           1856 non-null   float64
 18  + 20 mbps - 30 mbps           1856 non-null   float64
 19  + 30 mbps                     1856 non-null   object
 20  otros                         1844 non-null   float64
 21  total suma Mbps               1856 non-null   object
dtypes: float64(9), int64(1), object(12)
memory usage: 319.1+ KB

In [91]:
# Agrupar y resumir los datos:
df_agrupado = df_combinados3.groupby(['año', 'trimestre', 'provincia']).sum()
df_agrupado.sample(10)

,,,banda ancha fija,dial up,total_conexion,accesos por cada 100 hogares,accesos por cada 100 hab,adsl,cablemodem,fibra óptica,wireless,otros Mbps,hasta 512 kbps,+ 512 kbps - 1 mbps,+ 1 mbps - 6 mbps,+ 6 mbps - 10 mbps,+ 10 mbps - 20 mbps,+ 20 mbps - 30 mbps,+ 30 mbps,otros,total suma Mbps
año,trimestre,provincia,,,,,,,,,,,,,,,,,,,
2017,4,San Luis,14.60414.604,600.0,14.90414.904,"10,59 10,59","3,03 3,03",11.104 11.104,1.119 1.119,335 335,34.000,4.658,118.00,202.000,12.82212.822,16.000,0.000,2.000,77,3.804,14.90014.900
2023,2,La Rioja,86.96886.968,8.0,86.97286.972,"80,01 80,01","21,30 21,30",4.152 4.152,55.148 55.148,21.245 21.245,12.790,64.000,36.00,908.000,1.7191.719,4.472,49.474,9.776,52.92052.920,0.000,86.97286.972
2019,3,Jujuy,86.57586.575,2.0,86.57686.576,"44,32 44,32","11,33 11,33",33.110 33.110,35.742 35.742,274 274,1624.000,33.276,54.00,1770.000,31.72231.722,18.480,53.670,112.000,3.6713.671,33.090,88.98188.981
2016,1,San Luis,12.91512.915,634.0,13.23213.232,"9,59 9,59","2,75 2,75",11.432 11.432,1.042 1.042,354 354,54.000,754.000,16.00,8.000,13.64513.645,0.000,0.000,2.000,22,0.000,13.66013.660
2018,3,Catamarca,34.21534.215,22.0,34.22634.226,"32,92 32,92","8,37 8,37",27.553 27.553,4.443 4.443,15 15,2.000,4.428,68.00,3.988,18.47518.475,12.716,10.640,68.000,77,4.302,34.37334.373
2020,1,Tierra Del Fuego,38.50538.505,578.0,38.79438.794,"76,07 76,07","22,55 22,55",12.854 12.854,25.632 25.632,0 0,0.000,616.000,22.00,2.000,22.97622.976,10.048,3.668,392.000,518518,14.092,37.60637.606
2023,2,Corrientes,158.290158.290,8.0,158.294158.294,"52,37 52,37","13,79 13,79",26.821 26.821,82.977 82.977,32.834 32.834,20.814,10.510,134.00,5.890,21.78121.781,44.288,11.874,9.186,93.04893.048,15.558,158.294158.294
2016,4,Entre Ríos,180.188180.188,114.0,180.245180.245,"45,21 45,21","13,45 13,45",109.359 109.359,64.141 64.141,226 226,12.896,142.000,3.36,16.506,110.296110.296,76.982,39.018,3.602,280280,0.000,180.310180.310
2023,1,Chubut,169.149169.149,1808.0,170.053170.053,"85,89 85,89","26,32 26,32",45.448 45.448,73.525 73.525,9.815 9.815,61.042,21.488,218.00,3.196,45.79445.794,61.894,50.144,35.400,28.25928.259,41.148,170.053170.053
2019,1,Salta,136.019136.019,2.0,136.020136.020,"40,10 40,10","9,71 9,71",74.426 74.426,57.933 57.933,647 647,2.270,3.758,98.00,8.464,59.24459.244,72.946,45.820,21.722,2.2422.242,2.000,136.012136.012

Transformacion del segundo df

In [92]:
df_nac4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 29 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   año                           41 non-null     int64
 1   trimestre                     41 non-null     int64
 2   accesos por cada 100 hogares  41 non-null     object
 3   accesos por cada 100 hab      41 non-null     object
 4   periodo_x                     41 non-null     object
 5   mbps (media de bajada)        41 non-null     object
 6   trimestre.1                   41 non-null     object
 7   banda ancha fija              41 non-null     object
 8   dial up                       41 non-null     float64
 9   total_x                       41 non-null     object
 10  periodo_y                     41 non-null     object
 11  hasta 512 kbps                41 non-null     float64
 12  entre 512 kbps y 1 mbps       41 non-null     float64
 13  entre 1 mbps y 6 mbps         41 non-null     object
 14  entre 6 mbps y 10 mbps        41 non-null     object
 15  entre 10 mbps y 20 mbps       41 non-null     object
 16  entre 20 mbps y 30 mbps       41 non-null     object
 17  más de 30 mbps                41 non-null     object
 18  otros_x                       41 non-null     float64
 19  total_y                       41 non-null     object
 20  ingresos (miles de pesos)     41 non-null     object
 21  periodo_ingresos              41 non-null     object
 22  adsl                          41 non-null     object
 23  cablemodem                    41 non-null     object
 24  fibra óptica                  41 non-null     object
 25  wireless                      41 non-null     float64
 26  otros_y                       41 non-null     float64
 27  total                         41 non-null     object
 28  periodo                       41 non-null     object
dtypes: float64(6), int64(2), object(21)
memory usage: 9.4+ KB

Se eliminan las columnas redundantes

In [93]:
df_nac5 = df_nac4.copy()
df_nac5 = df_nac5.drop(['periodo_x', 'trimestre.1', 'periodo_y', 'periodo'], axis=1)
df_nac5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   año                           41 non-null     int64
 1   trimestre                     41 non-null     int64
 2   accesos por cada 100 hogares  41 non-null     object
 3   accesos por cada 100 hab      41 non-null     object
 4   mbps (media de bajada)        41 non-null     object
 5   banda ancha fija              41 non-null     object
 6   dial up                       41 non-null     float64
 7   total_x                       41 non-null     object
 8   hasta 512 kbps                41 non-null     float64
 9   entre 512 kbps y 1 mbps       41 non-null     float64
 10  entre 1 mbps y 6 mbps         41 non-null     object
 11  entre 6 mbps y 10 mbps        41 non-null     object
 12  entre 10 mbps y 20 mbps       41 non-null     object
 13  entre 20 mbps y 30 mbps       41 non-null     object
 14  más de 30 mbps                41 non-null     object
 15  otros_x                       41 non-null     float64
 16  total_y                       41 non-null     object
 17  ingresos (miles de pesos)     41 non-null     object
 18  periodo_ingresos              41 non-null     object
 19  adsl                          41 non-null     object
 20  cablemodem                    41 non-null     object
 21  fibra óptica                  41 non-null     object
 22  wireless                      41 non-null     float64
 23  otros_y                       41 non-null     float64
 24  total                         41 non-null     object
dtypes: float64(6), int64(2), object(17)
memory usage: 8.1+ KB

In [94]:
df_nac5.sample(10)

,año,trimestre,accesos por cada 100 hogares,accesos por cada 100 hab,mbps (media de bajada),banda ancha fija,dial up,total_x,hasta 512 kbps,entre 512 kbps y 1 mbps,entre 1 mbps y 6 mbps,entre 6 mbps y 10 mbps,entre 10 mbps y 20 mbps,entre 20 mbps y 30 mbps,más de 30 mbps,otros_x,total_y,ingresos (miles de pesos),periodo_ingresos,adsl,cablemodem,fibra óptica,wireless,otros_y,total
24,2018,1,"58,82","18,12","13,22",8.009.981,27.072,8.037.053,7.309,215.406,3.272.724,976.956,2.068.087,862.010,397.977,236.584,8.037.053,"13.171.459,23",Ene-Mar 2018,3.574.294,3.981.129,217.460,165.300,98.870,8.037.053
14,2020,3,"66,31","20,59","40,67",9.346.183,10.016,9.356.199,41.038,44.005,2.637.984,1.040.017,799.350,538.567,4.053.461,201.777,9.356.199,"31.997.444,53",Jul-Sept 2020,2.263.889,5.259.351,1.170.879,413.259,248.821,9.356.199
7,2022,2,"75,97","23,72","58,44",10.946.248,12.436,10.958.684,33.667,99.498,1.193.090,1.197.030,856.562,485.321,6.741.922,351.594,10.958.684,"60.419.500,62",Abr-Jun 2022,1.468.333,5.979.214,2.723.285,556.243,231.609,10.958.684
15,2020,2,"64,21","19,92","38,32",9.021.040,10.016,9.031.056,41.038,48.690,2.651.502,1.053.107,807.775,523.437,3.711.499,194.008,9.031.056,"32.102.475,99",Abr-Jun 2020,2.295.533,5.005.115,1.106.725,376.667,247.016,9.031.056
36,2015,1,"51,36","15,68","4,35",6.699.714,38.018,6.737.732,41.158,516.919,5.121.423,571.620,348.102,7.643,16.347,0.000,6.623.212,"4.876.385,32",Ene-Mar 2015,3.756.153,2.668.248,168.188,79.098,66.045,6.737.732
30,2016,3,"53,73","16,50","5,94",7.178.340,28.610,7.206.950,20.104,294.413,4.816.081,936.533,919.208,124.564,31.022,0.000,7.141.925,"6.912.441,54",Jul-Sept 2016,3.776.442,3.124.855,169.898,81.455,54.300,7.206.950
38,2014,3,"50,67","15,43","3,87",6.559.264,36.007,6.595.271,37.430,608.018,5.153.437,373.372,182.483,507,12.424,0.000,6.367.671,"3.478.637,74",Jul-Sept 2014,3.714.764,2.569.868,155.494,85.096,70.049,6.595.271
35,2015,2,"51,76","15,82","4,55",6.783.279,32.909,6.816.188,40.723,500.175,5.138.431,645.440,432.762,10.045,18.529,0.000,6.786.105,"4.701.790,72",Abr-Jun 2015,3.767.821,2.756.294,150.839,82.077,59.157,6.816.188
34,2015,3,"52,46","16,05","4,79",6.902.267,32.801,6.935.068,35.030,455.777,5.087.802,701.187,539.414,13.101,20.677,0.000,6.852.988,"5.153.738,88",Jul-Sept 2015,3.788.696,2.840.203,162.663,84.530,58.976,6.935.068
11,2021,2,"69,24","21,55","45,63",9.852.702,10.382,9.863.084,40.172,42.024,2.531.271,1.080.279,693.277,647.401,4.661.291,167.369,9.863.084,"38.239.666,63",Abr-Jun 2021,2.018.587,5.641.731,1.472.246,476.968,253.552,9.863.084

In [95]:
# Se revisan los valores que coindiden:
cantidad_iguales4 = (df_nac5['total_x'] == df_nac5['total_y']).sum()
# Imprimir la cantidad de valores iguales
print(cantidad_iguales4)

0

se retiran valores que contengas "." en algunas columnas

In [96]:
df_nac6 = df_nac5.copy()
df_nac6['hasta 512 kbps'] = df_nac6['hasta 512 kbps'].astype(str).str.replace('.', '')
df_nac6.head(5)

,año,trimestre,accesos por cada 100 hogares,accesos por cada 100 hab,mbps (media de bajada),banda ancha fija,dial up,total_x,hasta 512 kbps,entre 512 kbps y 1 mbps,entre 1 mbps y 6 mbps,entre 6 mbps y 10 mbps,entre 10 mbps y 20 mbps,entre 20 mbps y 30 mbps,más de 30 mbps,otros_x,total_y,ingresos (miles de pesos),periodo_ingresos,adsl,cablemodem,fibra óptica,wireless,otros_y,total
0,2024,2,"78,13","24,57","139,25",11.544.314,11.793,11.556.107,28151,67.024,840.200,911.374,662.649,348.253,8.357.088,341.368,11.556.107,"442.032.166,69",Abr-Jun 2024,733.491,5.867.504,4.169.958,593.197,191.957,11.556.107
1,2024,1,"78,89","24,79","139,15",11.621.363,11.793,11.633.156,28801,69.355,866.152,950.930,672.155,353.896,8.363.694,328.173,11.633.156,"346.198.986,13",Ene-Mar 2024,774.475,5.986.957,4.015.101,598.682,257.941,11.633.156
2,2023,4,"78,56","24,66","139,04",11.535.868,11.793,11.547.661,29708,71.742,900.253,978.108,697.232,350.290,8.224.736,295.592,11.547.661,"167.376.014,80",Oct-Dic 2023,836.390,6.022.532,3.908.183,585.760,194.796,11.547.661
3,2023,3,"77,84","24,41","129,67",11.395.115,11.793,11.406.908,30274,80.609,945.608,998.725,720.084,350.918,8.003.269,277.421,11.406.908,"133.106.593,41",Jul-Sept 2023,897.895,6.018.832,3.708.718,581.436,200.027,11.406.908
4,2023,2,"77,02","24,14","123,95",11.239.781,12.116,11.251.897,30827,79.405,963.510,1.028.250,734.125,364.730,7.775.095,275.955,11.251.897,"118.060.280,28",Jun-Mar 2023,1.006.509,5.997.149,3.463.988,581.823,202.428,11.251.897

In [97]:
# Eliminamos del mismo modo "." del resto de columnas
columnas = ['entre 512 kbps y 1 mbps', 'entre 1 mbps y 6 mbps', 'entre 6 mbps y 10 mbps', 'entre 10 mbps y 20 mbps', 'entre 20 mbps y 30 mbps', 'más de 30 mbps', 'otros_x']

for columna in columnas:
    df_nac6[columna] = df_nac6[columna].astype(str).str.replace('.', '')

In [98]:
df_nac6 = df_nac6.drop(['total_y', 'total_x'], axis=1)
df_nac6.head(3)

,año,trimestre,accesos por cada 100 hogares,accesos por cada 100 hab,mbps (media de bajada),banda ancha fija,dial up,hasta 512 kbps,entre 512 kbps y 1 mbps,entre 1 mbps y 6 mbps,entre 6 mbps y 10 mbps,entre 10 mbps y 20 mbps,entre 20 mbps y 30 mbps,más de 30 mbps,otros_x,ingresos (miles de pesos),periodo_ingresos,adsl,cablemodem,fibra óptica,wireless,otros_y,total
0,2024,2,"78,13","24,57","139,25",11.544.314,11.793,28151,67024,840200,911374,662649,348253,8357088,341368,"442.032.166,69",Abr-Jun 2024,733.491,5.867.504,4.169.958,593.197,191.957,11.556.107
1,2024,1,"78,89","24,79","139,15",11.621.363,11.793,28801,69355,866152,950930,672155,353896,8363694,328173,"346.198.986,13",Ene-Mar 2024,774.475,5.986.957,4.015.101,598.682,257.941,11.633.156
2,2023,4,"78,56","24,66","139,04",11.535.868,11.793,29708,71742,900253,978108,697232,350290,8224736,295592,"167.376.014,80",Oct-Dic 2023,836.390,6.022.532,3.908.183,585.760,194.796,11.547.661

In [99]:
# Renombramos las columnas
df_nac6 = df_nac6.rename(columns={'otros_x': 'Otros Mbps'})
df_nac6 = df_nac6.rename(columns={'otros_y': 'Otras conexiones'})
df_nac6 = df_nac6.rename(columns={'total': 'Total Mbps-conexiones'})

In [100]:
df_nac6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   año                           41 non-null     int64
 1   trimestre                     41 non-null     int64
 2   accesos por cada 100 hogares  41 non-null     object
 3   accesos por cada 100 hab      41 non-null     object
 4   mbps (media de bajada)        41 non-null     object
 5   banda ancha fija              41 non-null     object
 6   dial up                       41 non-null     float64
 7   hasta 512 kbps                41 non-null     object
 8   entre 512 kbps y 1 mbps       41 non-null     object
 9   entre 1 mbps y 6 mbps         41 non-null     object
 10  entre 6 mbps y 10 mbps        41 non-null     object
 11  entre 10 mbps y 20 mbps       41 non-null     object
 12  entre 20 mbps y 30 mbps       41 non-null     object
 13  más de 30 mbps                41 non-null     object
 14  Otros Mbps                    41 non-null     object
 15  ingresos (miles de pesos)     41 non-null     object
 16  periodo_ingresos              41 non-null     object
 17  adsl                          41 non-null     object
 18  cablemodem                    41 non-null     object
 19  fibra óptica                  41 non-null     object
 20  wireless                      41 non-null     float64
 21  Otras conexiones              41 non-null     float64
 22  Total Mbps-conexiones         41 non-null     object
dtypes: float64(3), int64(2), object(18)
memory usage: 7.5+ KB

In [101]:
# se convierten columnas en float
df_nac7 = df_nac6.copy()
columnas_convertir = ['hasta 512 kbps', 'entre 512 kbps y 1 mbps', 'entre 1 mbps y 6 mbps', 'entre 6 mbps y 10 mbps', 'entre 10 mbps y 20 mbps', 'entre 20 mbps y 30 mbps', 'más de 30 mbps', 'Otros Mbps']
df_nac7[columnas_convertir] = df_nac7[columnas_convertir].astype(float)

In [102]:
df_nac7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   año                           41 non-null     int64
 1   trimestre                     41 non-null     int64
 2   accesos por cada 100 hogares  41 non-null     object
 3   accesos por cada 100 hab      41 non-null     object
 4   mbps (media de bajada)        41 non-null     object
 5   banda ancha fija              41 non-null     object
 6   dial up                       41 non-null     float64
 7   hasta 512 kbps                41 non-null     float64
 8   entre 512 kbps y 1 mbps       41 non-null     float64
 9   entre 1 mbps y 6 mbps         41 non-null     float64
 10  entre 6 mbps y 10 mbps        41 non-null     float64
 11  entre 10 mbps y 20 mbps       41 non-null     float64
 12  entre 20 mbps y 30 mbps       41 non-null     float64
 13  más de 30 mbps                41 non-null     float64
 14  Otros Mbps                    41 non-null     float64
 15  ingresos (miles de pesos)     41 non-null     object
 16  periodo_ingresos              41 non-null     object
 17  adsl                          41 non-null     object
 18  cablemodem                    41 non-null     object
 19  fibra óptica                  41 non-null     object
 20  wireless                      41 non-null     float64
 21  Otras conexiones              41 non-null     float64
 22  Total Mbps-conexiones         41 non-null     object
dtypes: float64(11), int64(2), object(10)
memory usage: 7.5+ KB

Transformacion del tercer df

In [103]:
df_partidos.sample(4)

,Provincia,Partido,Localidad,Tecnologia,Link Indec,Accesos_x,Velocidad (Mbps),Accesos_y
4079,entre rios,paraná,viale,FIBRA OPTICA,30084270,136,NaN,NaN
571,buenos aires,escobar,ingeniero maschwitz,DIAL UP,6252010,3,NaN,NaN
3679,cordoba,unión,wenceslao escalante,WIRELESS,14182290,10,NaN,NaN
3757,corrientes,ituzaingó,colonia liebig's,WIRELESS,18084010,32,NaN,NaN

exportamos los dataframe a archivos csv

In [105]:
df_agrupado.to_csv('df_agrupado.csv', index=False)
df_combinados3.to_csv('df_combinados.csv', index=False)

df_nac7.to_csv('df_nacional.csv', index=False)

df_partidos.to_csv('df_partidos.csv', index=False)